<% include ('header') %>

<form action="/contact" method="post" class="ui form">
    <h4>Votre mail :</h4>
    <input name="contact" type="mail">
    <h4>Votre message :</h4>
    <textarea name="contact" id="" cols="30" rows="10"></textarea>
    <button type="submit">Envoyer</button>
</form>

<% include ('footer') %>