<%- include ('header') %>

<form action="/registrer" method="post" class="ui form">
    <h2>Prénom</h2>
    <input type="text" name="test" class="registrertext">
    <h2>Nom</h2>
    <input type="text" name="test" class="registrertext">
    <h2>Email</h2>
    <input type="text" name="test" class="registrertext">
    <h2>Mot de passe</h2>
    <input type="text" name="test" class="registrertext">
    <button class="submit">Envoyez</button>
</form>
<%- include ('footer') %>